* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
}
body {
  margin: 0;
}

/* responsive */
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="column-"] {
  float: left;
  padding: 15px;
}
.column-1 {
  width: 16.6667%;
}
.column-2 {
  width: 33.3333%;
}
.column-3 {
  width: 50%;
}
.column-4 {
  width: 66.6667%;
}
.column-5 {
  width: 83.3334%;
}
.column-6 {
  width: 100%;
}

.ml-1-column {
  margin-left: 16.6667%;
}
.ml-2-column {
  margin-left: 33.3333%;
}

.bg-white {
  background-color: white;
}
.bg-orange {
  background-color: rgb(225, 85, 24);
}
.bg-dark-brown {
  background-color: #ef980a;
}
.bg-light-brown {
  background-color: #fab142;
}
.bg-cream {
  background-color: #fef6e9;
}
.bg-dark-cream {
  background-color: #fad193;
}
.bg-light-cream {
  background-color: #fdeed7;
}

.full-width {
  width: 100%;
  float: left;
}

.main > div {
  min-height: 100vh;
  display: flex;
}

.magazine-landing {
  background: url("../images/magaizine-landing-bg.jpg");
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}
.logo {
  text-align: center;
  position: relative;
  padding-top: 0vh;
}
.header-logo {
  padding: 200px 50px;
}
.logo .image {
  background-color: rgb(239, 152, 10);
  border-radius: 50%;
  padding: 140px 50px;
  color: white;
  width: 100%;
}
.logo .image > h1 {
  font-size: 80px;
}
.logo .image > span {
  /* font-size: 20px; */
}
.logo .image > img {
  height: 40vh;
  border-radius: 100%;
  box-shadow: 2px 2px 50px rgb(225, 85, 24);
}

.navbar-sticky > .column-4 {
  padding: 0;
}
.nav-links {
  background: #ffffff;
}
.nav-links > a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  color: white;
}
.nav-links > .active {
  border-bottom: solid 10px rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
}
[class*="nav-item-"]:hover {
  opacity: 0.9;
  animation-duration: all 1s;
}
[class*="nav-item-"] {
  width: 25%;
  float: left;
  cursor: pointer;
  animation-duration: all 1s;
}
.nav-links .nav-item-1 {
  background-color: rgb(250, 177, 66);
}
.nav-links .nav-item-2 {
  background-color: rgb(239, 152, 10);
}
.nav-links .nav-item-3 {
  background-color: rgb(225, 85, 24);
}
.nav-links .nav-item-4 {
  background-color: rgb(31, 87, 26);
}

.fruit-tray {
  position: absolute;
  left: 0;
  top: 80vh;
}

#about {
  width: 80%;
  padding-bottom: 45vh;
}
#about > div > p {
  font-size: 50px;
  margin-top: 300px;
}

.lemon {
  background-color: #98ad20;
}
.magazine-edition {
  min-height: 70vh;
  position: relative;
  float: left;
}

.magazine-edition > .image {
  position: absolute;
  top: -30%;
  left: 15%;
  width: 70%;
  height: 60vh;
  background-image: url("../images/magaizine-editon-bg.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.3);
}
.latest-edition {
  z-index: 2;
  position: absolute;
  background-color: rgb(31, 87, 26);
  color: #ffffff;
  margin-top: 10%;
  margin-left: 25%;
  width: 25%;
  min-height: 60%;
  text-align: left;
  padding: 4%;
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.2);
}
.latest-edition > .title {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 10px;
}

.previous-editions {
  position: absolute;
  color: #ffffff;
  margin-top: 20%;
  margin-left: 57%;
  width: 25%;
  padding: 4%;
}

.recipes {
  height: 100vh;
  background-image: url("../images/recipe-intercontinental.jpg");
  background-size: 60%;
  background-position: 40% 50%;
  background-repeat: no-repeat;
}
.recipes > div {
  height: 100vh;
}
.recipes > .recipe-links > div {
  min-height: 20%;
  vertical-align: middle;
  text-align: center;
  padding: 20%;
  font-weight: lighter;
  font-size: 25px;
}
.recipes .recipe-description {
  max-height: 100vh;
  overflow: auto;
}
.recipes .recipe-title {
  padding-left: 0;
}
.recipes .recipe-title > h2 {
  padding-left: 100px;
  padding-bottom: 25px;
  margin-top: 30px;
  text-align: left;
  border-bottom: solid 5px #ef960a;
}
.recipe-body {
  padding: 0;
  padding-left: 100px;
}
.ingredient-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}
.recipe-body li {
  color: #777777;
  font-weight: 300;
  font-size: 23px;
}

.well-feeding {
  padding: 10px;
}

.green-flower {
  background-image: url("../images/magaizine-proposition-bg-2.jpeg");
  background-position: center;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-color: rgba(255, 69, 0, 0.3);
  background-blend-mode: screen;
  background-size: cover;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.3);
  letter-spacing: 5px;
  font-weight: bold;
  padding: 10px;
}
.green-flower h1 {
  color: white;
  letter-spacing: 5px;
}

.footer {
  background-color: rgb(197, 66, 19);
  background-image: url("../images/magaizine-footer-bg.svg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.footer-logo {
  text-align: center;
}
.footer-logo svg {
  width: 40px;
}
.footer > .logo {
  height: auto;
}
.footer .image {
  display: inline-block;
}
.footer .orange-text {
  font-weight: bold;
  color: #fd911e;
  letter-spacing: 5px;
}
.social-media-icons > img {
  width: 40px;
  margin-right: 15px;
  display: inline-block;
}

button {
  width: 100%;
  font-size: 15px;
  padding: 20px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.2s;
}
button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
button.white {
  color: rgb(31, 87, 26);
  background-color: white;
  border: solid 2px transparent;
}
button.white:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
}
button.transparent {
  color: white;
  background-color: transparent;
  border: solid 3px white;
}
button.transparent:hover {
  color: rgb(31, 87, 26);
  background: white;
  border-color: white;
}

@media only screen and (max-width: 800px) {
  [class*="column-"] {
    width: 100%;
  }
  .hidden-small-screen {
    display: none !important;
  }
  .header-logo {
    margin: 0;
    padding-left: 90px;
  }
  .header-logo > * {
    display: inline-block;
    position: absolute;
  }
  .header-logo > div.image {
    left: 10px;
    top: 10px;
  }
  .header-logo > div.dropdown {
    right: 10px;
    top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #ef980a;
  }
  .logo .image {
    padding: 108px 7px;
    width: 78%;
  }
  .magazine-landing > div {
    position: fixed;
    width: 100vw;
    z-index: 10;
    background: white;
  }
  .logo {
    height: 70px;
  }
  .navbar-sticky {
    top: 70px;
    transition: all 0.4s;
    display: none;
  }
  .ml-1-column,
  .ml-2-column {
    margin: 0;
  }
  .magazine-landing {
    background-size: 114%;
  }
  .main > div:first-child {
    height: 42vh;
    min-height: 42vh;
  }
  .header-logo {
    padding: 10px 50px;
    padding: 5px;
  }
  .logo .image {
    padding: 33px 22px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    color: transparent;
  }
  .logo .image > h1 {
    font-size: 30px;
  }
  .logo .image > span {
    font-size: 15px;
  }
  .navbar-sticky > .ml-2-column {
    margin-left: 0;
  }
  .navbar-sticky {
    /* position: relative; */
    transition: all 0.4s;
  }
  .nav-links > a {
    width: 100%;
  }
  #about {
    width: 100%;
    padding-bottom: 20vh;
  }
  #about > div > p {
    font-size: 30px;
    margin-top: 0;
  }
  .magazine-edition > .image {
    width: 90%;
    left: 5%;
  }
  .latest-edition {
    margin-top: 10%;
    width: 75%;
    margin-left: 12.5%;
  }
  .latest-edition > .title {
    font-size: 40px;
  }
  .previous-editions {
    margin-top: 90%;
    width: 75%;
    margin-left: 12.5%;
  }
  .recipes {
    height: auto;
  }
  .recipe-body,
  .recipes .recipe-title > h2 {
    padding-left: 50px;
  }

  .text-div,
  .copyright > div,
  .text-div > * {
    padding: 0 !important;
    font-size: 20px !important;
    padding-top: 30px !important;
    text-align: center !important;
  }
  .copyright {
    padding: 0px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .magazine-edition > .image {
    top: -10%;
  }
  .latest-edition {
    position: relative;
  }
  .latest-edition > button {
    margin-top: 50px;
  }
  .previous-editions {
    margin-top: 30px;
    position: relative;
  }
}

@media only screen and (min-width: 800px) {
  .hidden-mid-screen {
    display: none !important;
  }
  .navbar-sticky {
    position: absolute;
    bottom: 0;
  }
  .well-feeding {
    padding: 100px;
  }
  .green-flower {
    /* height: 30vh; */
    letter-spacing: 5px;
    background-color: rgba(255, 69, 0, 0.1);
    font-size: 30px;
  }
  .green-flower h1 {
    font-size: 65px;
    margin-top: 50px;
  }

  .footer-logo {
    text-align: right;
  }
  .footer-logo svg {
    width: 40px;
  }
  .footer .text-div {
    padding-top: 220px;
  }
  .footer .text-div > span {
    font-size: 20px;
  }
  .footer .orange-text {
    font-size: 25px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .header-logo {
    margin-left: 16.6667%;
    width: 66.6667%;
    padding: 0;
  }
  div.magazine-landing {
    min-height: 65vh;
    background-size: cover;
  }
  .fruit-tray {
    top: 40vh;
    min-height: 50vh;
  }
  .fruit-tray > img {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo .image {
    padding: 50px 55px;
  }
  .green-flower {
    height: auto;
    text-align: center;
  }
}
